# .htaccess main domain to subdirectory redirect
# Do not change this line.
RewriteEngine on
# Change site.com to be your main domain.
RewriteCond %{HTTP_HOST} ^(www.)?yourwebsite_address$
# Change 'subdirectory' to be the directory you will use for your main domain.
RewriteCond %{REQUEST_URI} !^/public/
# Don't change the following two lines.
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
# Change 'subdirectory' to be the directory you will use for your main domain.
RewriteRule ^(.*)$ /public/$1
# Change site.com to be your main domain again.
# Change 'subdirectory' to be the directory you will use for your main domain
# followed by / then the main file for your site, index.php, index.html, etc.
RewriteCond %{HTTP_HOST} ^(www.)?yourwebsite_address$
RewriteRule ^(/)?$ /public/index.php [L]