.navbar-expand-md{
    margin-bottom: 10px;
}
.fotobarangdagang{
    background:#E0E0E0;
    text-align:center;
}
.fotobarangdagang img{
    width: auto;
    height: auto;
}
.card-barangdagang{
    margin-bottom: 5px;
}
.card-barangdagang .hover-visible{
    visibility: hidden;
}
.card-barangdagang:hover .hover-visible{
    visibility: visible;
}
.rounded-0{
    -webkit-border-radius:0 !important;
    -moz-border-radius:0 !important;
    border-radius:0 !important;
}
.enter-20{
    display: block;
    height: 20px;
}
.sidebar .nav-link:hover{
    background:#007bff;
}